* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ysabeau Office', sans-serif;
}

body {
    background-color: #f7cbbd;
}

h1 {
    color: #000000;
    text-align: center;
    margin: 20px 0;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 8px;
    width: 300px;
}

button {
    padding: 8px 16px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #fa8537ce;
    color: black;
}

h3 {
    color: #000000;
    text-align: center;      
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 80px;
    width: 100%;
}

li {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.risco {
    text-decoration: line-through;
}
