* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ysabeau Office', sans-serif;
}

body {
    background-color: #f7cbbd;
}

header {
    color: #000000;
    text-align: center;
    margin: 20px 0;
    padding: 16px 0;
    border-bottom: 16px solid rgb(0, 0, 0);
}

header button {
    padding: 12px;
    margin-left: 16px;
    text-transform: uppercase;
    font-style: italic;
}

form {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 8px;
    width: 300px;
}

button {
    padding: 8px 16px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #fa8537ce;
    color: black;
}

h3 {
    color: #000000;
    text-align: center; 
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 80px;
    width: 100%;
}

li {
    padding: 10px;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


#button, #botao-cancelar {
    text-transform: uppercase;
}

.risco {
    text-decoration: line-through;
}
